html,
body,
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 3px;
}
.footer p {
  font-size: 1.1rem;
  color: rgb(160, 160, 159);
}

body {
  background-color: rgba(241, 235, 228, 1);
}

/* navigation/menu */
.navigation {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.navigation img {
  width: 400px;
  height: 100%;
  object-fit: contain;
  background-color: rgb(209, 204, 204);
  /* transform: rotate(-90deg); */
  padding: 3px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 2px rgba(243, 243, 242, 0.5);
  
}

.navigation-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  list-style: none;
}

a {
  cursor: pointer;
  color: rgb(163, 162, 162);
  text-decoration: none;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(156, 154, 154); */
}

/* banner/hero */
.banner-video {
  /* position: relative; */
  width: 100svw;
  height: 100svh;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logoname {
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
.logoname h1 {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(255, 255, 255);
  /* margin: auto; */
  font-size: 3rem;
  /* width: 100%; */
}
.logoname p {
  color: rgb(195, 195, 196);
  font-size: 1.4rem;
}
.logoname hr {
  border: 1px solid rgb(247, 4, 4);
  width: 100%;
  margin: 3px auto;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 2, 0.3);
  z-index: 100;
}

/* services section  */

.services-section {
  display: flex;
  flex-direction: column;
  gap: 200px;
  position: relative;
  padding: 100px 0;
  height: auto;
}
.message {
  width: 100%;
  color: rgba(90, 75, 46, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0 20px;
  gap: 20px;
}
.message h4 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.message p {
  max-width: 600px;
  /* min-width: 300px; */
  font-size: 1.1rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.wedding .outdoor-adventure,
.event {
  position: relative;
  height: auto;
}
.wedding-item,
.adventure-item,
.event-item {
  width: 100svw;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  padding: 30px 0;
  height: auto;
}
.wedding-item {
  gap: 30px;
}
.adventure-item p {
  margin-top: 30px;
}
.booking-msg {
  display: flex;
  justify-content: center;
  background-color: rgba(245, 225, 199, 0.7);
  height: auto;
}
.booking-msg p {
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  padding: 40px;
  color: #000;
  max-width: 600px;
}
.book {
  position: relative;
  background-color: rgba(245, 225, 199, 0.7);
  width: fit-content;
  padding: 10px;
  border: none;
  margin-top: 90px;
  color: #000;
  font-size: 1.1rem;
  color: #000;
  border-radius: 2px;
  cursor: pointer;
  z-index: 100;
  letter-spacing: 0.1rem;
}

.event-item {
  color: black;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 100px;
}
.adventure-item {
  color: rgba(0, 0, 0, 0.8);
}
/* .heading-title{
  display: flex;
  position: absolute;
  left:45%;
  top: 200px;
  color: white;
  z-index: 100;
} */
img {
  width: 100%;
  object-fit: cover;
}
.images {
  width: 100svw;
  /* height:600px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images .event {
  width: 30%;
  height: 100%;
  bottom: -100px;
}
.mainImage {
  margin: auto;
  width: 60%;
  height: 100%;
}
.secondaryImage {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: -30px;
  right: 0;
}
.lastImage {
  position: absolute;
  width: 30%;
  height: 50%;
  left: 10px;
  top: -10px;
}

/* portfolio */
.portfolio {
  display: flex;
  /* gap:30px; */
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
.wedding-image {
  width: 47%;
  height: auto;
}
.wedding-image img {
  /* width:100%;
  height: 100%; */
  object-fit: cover;
}
.description {
  font-size: 1.2rem;
  color: rgb(160, 160, 159);
}

/* .longimages{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.longsection {
  display: flex;
  padding: 100px 40px;
  gap: 40px;
}
.wPics {
  display: flex;
  flex-direction: column;
  /* padding: 100px 0; */
  justify-content: space-around;
}
/* outdoor */
.outdoor {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0 40px;
  margin-top: 100px;
}
.left {
  width: 40%;
}
.left p,
.right p {
  margin-bottom: 30px;
}
.right {
  width: 55%;
}

.outdoortop,
.outdoorbottom {
  display: flex;
  justify-content: space-between;
}
/* contact */
.contact {
  min-height: 100svh;
  width: 100svw;
  background: url("https://source.unsplash.com/a-camera-lens-on-a-black-background-pnyQR_78cFg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.msg {
  position: relative;
  color: red;
  font-size: 1.3rem;
  z-index: 100;
  text-align: center;
  z-index: 100;
  text-transform: uppercase;
}
/* .contact-overlay{
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(107, 106, 105, 0.2);
  z-index: 1;

} */
.contact-message {
  /* background-color: rgba(90, 75, 46, .9); */
  width: 100%;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  line-height: 1.6;
  border-bottom: 1px solid white;
}
/* form */
/* .contact{
  padding:100px;
} */
.form {
  /* background-color: rgba(90, 75, 46, .5); */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  padding: 50px 0;
}
.input-group {
  display: flex;
  flex-direction: column;
}
label {
  color: #fff;
}
input,
button,
textarea {
  font-size: 1.4rem;
  outline: none;
  padding: 5px 0;
  width: 400px;
  margin-bottom: 10px;
  border: none;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
input::placeholder {
  color: white;
}
.error {
  color: red;
}
button {
  margin-top: 15px;
  background: transparent;
  border: 1px solid rgba(241, 235, 228, 1);
  color: rgba(241, 235, 228, 1);
  cursor: pointer;
}
button:hover {
  color: black;
  background: #fff;
}

hr {
  border: 1px solid rgb(0, 0, 0, 0.2);
  width: 100%;
}
@media (max-width: 450px) {
  .navigation-menu {
    justify-content: center;
  }

  .message h4 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .message p {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: uppercase;
  }
  .logoname h1 {
    font-size: 2.5rem;
  }
  .logoname p {
    font-size: 1.3rem;
  }
  .images {
    height: 500px;
    width: 100svw;
  }
  .secondaryImage {
    height: 50%;
    bottom: -60px;
  }

  .lastImage {
    top: -60px;
  }
  .adventure-item {
    color: rgba(0, 0, 0, 0.8);
  }
  .portfolio,
  .longsection {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
  }
  .wedding-image {
    width: 100svw;
  }
  .longsection {
    padding: 0;
    gap: 30px;
  }
  .wPics {
    gap: 30px;
  }
  .outdoor {
    padding: 0;
    gap: 0;
    margin-top: 30px;
  }
  .outdoortop,
  .outdoorbottom {
    width: 100svw;
    display: flex;
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  input,
  button,
  textarea {
    font-size: 1.4rem;
    outline: none;
    padding: 5px 0;
    width: 350px;
    margin-bottom: 10px;
  }
  .booking-msg {
    justify-content: flex-start;
  }
  .booking-msg p {
    padding-top: 70px;
    text-align: left;
    width: 350px;
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  .navigation {
    padding: 0 10px;
    padding-left: 0;
  }
  .logoname h1 {
    font-size: 2.3rem;
  }
  .logoname p {
    font-size: 1.2rem;
  }

  .images {
    height: 500px;
    width: 100svw;
  }
  .secondaryImage {
    height: 50%;
    bottom: -60px;
  }

  .lastImage {
    top: -60px;
  }
}

@media (max-width: 750px){
  .navigation{
    display: flex;
    flex-direction: column;
  }
  .navigation-menu{
    width: 100svw;
    justify-content: center;
    gap:50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
  }
  .navigation img {
    width: 100svw;
    padding: 10px;
  }
}
