html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(241, 235, 228, 1);
}

/* navigation/menu */
.navigation {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  padding: 0 40px;
}

.navigation-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  list-style: none;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* banner/hero */
.banner-video {
  position: relative;
  width: 100svw;
  height: 100svh;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logoname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 30%;
}
.logoname h1 {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(255, 255, 255);
  margin: auto;
  font-size: 3rem;
  width: 100%;
}
.logoname p {
  color: rgb(195, 195, 196);
  font-size: 1.4rem;
}
.logoname hr {
  border: 1px solid rgb(247, 4, 4);
  width: 100%;
  margin: 3px auto;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 2, 0.3);
  z-index: 100;
}

/* services section  */

.services-section {
  display: flex;
  flex-direction: column;
  gap: 200px;
  position: relative;
  padding: 100px 0;
  height: auto;
}
.wedding .outdoor-adventure {
  position: relative;
  height: auto;
}
.wedding-item,
.adventure-item {
  position: absolute;
  z-index: 100;
  left: 45%;
  color: #fff;
  font-size: 1.5rem;
  padding: 30px 0;
  height: auto;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 100px;
}
/* .heading-title{
  display: flex;
  position: absolute;
  left:45%;
  top: 200px;
  color: white;
  z-index: 100;
} */
img {
  width: 100%;
  object-fit: cover;
}
.images {
  width: 100svw;
  /* height:600px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  margin: auto;
  width: 60%;
  height: 100%;
}
.secondaryImage {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: -30px;
  right: 0;
}
.lastImage {
  position: absolute;
  width: 30%;
  height: 50%;
  left: 10px;
  top: -10px;
}

.portfolio{
  display: flex;
  /* gap:30px; */
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding:100px 40px;
}
.wedding-image{
  width: 47%;
  height: 300px;
}
.wedding-image img{
  /* width:100%;
  height: 100%; */
  object-fit: cover;
}
.description{
  font-size: 1.2rem;
  color:rgb(160, 160, 159);
}

/* .longimages{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.longsection{
  display: flex;
  padding:100px 40px;
  gap:40px;
}
.wPics{
  display: flex;
  flex-direction: column;
  /* padding: 100px 0; */
  justify-content: space-around;
}
